@let(linkTextFromSlot = await $slots.main())
@let(linkText = linkTextFromSlot.trim()
  ? html.safe(linkTextFromSlot)
  : ($props.get('text') ?? ''))
@let(linkHref = $props.has('href')
  ? $props.get('href')
  : $props.get('route')
    ? urlFor($props.get('route'), $props.get('routeParams'), $props.get('routeOptions'))
    : undefined)
@let(variant = $props.get('variant'))
@let(activeClass = request.url() === linkHref ? 'current' : '')
@let(classes = variant ? [activeClass, 'btn', `btn-${variant}`] : [activeClass])

<a {{
  $props
    .except(['href', 'text', 'route', 'routeParams', 'routeOptions', 'variant'])
    .merge({ href: linkHref, class: classes })
    .toAttrs()
}}>
  {{ linkText }}
</a>
