@layout()
  <div class="form-container">
    <div>
      <h1>Добавить удобрение</h1>

      @form({ route: 'fertilizers.store', method: 'POST' })
        <div>
          @field.root({ name: 'name' })
            @!field.label({ text: 'Название' })
            @!input.control()
            @!field.error()
          @end
        </div>

        <div>
          @field.root({ name: 'price' })
            @!field.label({ text: 'Цена' })
            @!input.control({ type: 'number', step: '0.01', min: '0.01' })
            @!field.error()
          @end
        </div>

        <div>
          @!button({ text: 'Создать', type: 'submit' })
        </div>
      @end
    </div>
  </div>
@end
