NODE_ENV=production
HOST=0.0.0.0
PORT=3000
APP_KEY=СЮДА_ВСТАВИТЬ_КЛЮЧ
DB_CONNECTION=sqlite
SQLITE_DB_PATH=./database/prod.sqlite3
SESSION_DRIVER=cookie

# PORT должен совпадать с портом, который выдала панель хостинга.
# HOST=127.0.0.1, если приложение стоит за nginx-прокси.

# Локальная разработка:
# NODE_ENV=development
# PORT=3333
# SQLITE_DB_PATH=./database/dev.sqlite3
