NODE_ENV=development
HOST=0.0.0.0
PORT=3333
APP_KEY=СЮДА_ВСТАВИТЬ_КЛЮЧ
DB_CONNECTION=sqlite
SQLITE_DB_PATH=./database/dev.sqlite3
SESSION_DRIVER=cookie

# Production (later):
# NODE_ENV=production
# HOST=0.0.0.0
# PORT=PORT_ИЗ_ISPMANAGER
# APP_KEY=НОВЫЙ_КЛЮЧ
# DB_CONNECTION=sqlite
# SQLITE_DB_PATH=./database/prod.sqlite3
# SESSION_DRIVER=cookie
