@let(descriptionFromSlot = await $slots.main())
@let(description = descriptionFromSlot.trim()
  ? html.safe(descriptionFromSlot)
  : $props.get('text'))
@let(classes = [])

<section {{ $props.except(['text']).merge({ class: classes }).toAttrs() }}>
  {{ description }}
</section>
